language = "nodejs"
run = "npm install && npm run replit-start"

[env]
IMGBB_API_KEY = "9c4c485b1b1a33b4fff5eabe1cfc64e0"

[nix]
channel = "stable-21_11"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
